.main-window {

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    max-width: 1840px; 
    height: 575px; 

    background-color: var(--light-grey); 

    h2 {
      font-size: 13px;
      font-weight: 400;
      color: var(--a0a0a0-color);
    }
  }
}